@model ImageGalleryLightBoxX.Models.GalleryImage

@{
    ViewBag.Title = "Edit Image";
}

<h2>Edit Image</h2>

<img src="~/Content/Uploads/@Model.FileName" style="width:150px;height:110px;object-fit:cover;" class="mb-3" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.GalleryImageId)
    @Html.HiddenFor(m => m.FileName)
    @Html.HiddenFor(m => m.UploadedDate)
    @Html.HiddenFor(m => m.IsActive)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownList("CategoryId", null, "-- Select Category --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-link" })
}